.wrapper {
    max-width: 47rem;
    margin: 2rem auto;
    padding: 0 1rem;
    display: grid;
    place-items: center;
}

.wrapper h1{
    color: var(--white);
}
@media (max-width: 768px) {
    html{
        font-size: 87.5%;
    }
    .wrapper{
        grid-template-columns: 1fr;
    }
}